{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section id="content">
    <main>
        <div class="form-container">
            <h2 class="login-title">Editar Proyecto</h2>   
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-edit" type="submit">Actualizar</button>
                <a href="{% url 'lista_proyectos' %}" class="btn-cancel">Cancel</a>
            </form>
        </div>
    </main>
</section>

{% endblock %}