{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section id="content">
    <main>
        <div class="form-container">
            <h2 class="descripcion">¿Estás seguro de que quieres eliminar el proyecto "{{ proyecto.titulo }}"?</h2>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn-delete">Sí, eliminar</button>
                <a href="{% url 'lista_proyectos' %}" class="btn-cancel">Cancel</a>
            </form>
        </div>
    </main>
</section>

{% endblock %}