{% extends '../main/base.html' %}
{% load static %}
{% block title %}Registrar Proyecto{% endblock %}
{% block content %}

<section id="content">
    <main>
        <div class="form-container">
            <h2 class="login-title">Registrar Proyecto</h2>
            <form class="form" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Registrar</button>
            </form>
        </div>
    </main>
</section>

{% endblock %}
