{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<section id="id">
  <main>
    <div class="login-container">
      <h2 class="head-title">
        ¿Estás seguro de eliminar la empresa "{{ empresa.nombre }}"?
      </h2>
      <form class="form" method="POST">
        {% csrf_token %}
        <button class="btn-delete">Sí, eliminar</button>
        <a href="{% url 'lista_empresas' %}" class="btn-cancel">Cancelar</a>
      </form>
    </div>
  </main>
</section>
 {% endblock %}